{{!< default}}

{{#author}}
    <section class="max-w-5xl mx-auto px-8 py-12 text-center">

        {{#if profile_image}}
        <div class="bg-white size-36 mx-auto border-6 border-white shadow overflow-hidden rounded-full">
            <img class="w-full h-full object-cover" src="{{profile_image}}" alt="{{name}}" />
        </div>
        {{/if}}

        <div class="max-w-2xl mx-auto">
            <h1 class="mt-6 font-headline text-4xl">{{name}}</h1>
            {{#if bio}}
            <p class="mt-4 text-lg">{{bio}}</p>
            {{/if}}
        </div>

        <div class="mt-4 flex items-center gap-4 justify-center">
            {{#if website}}
            <a class="text-black dark:text-white font-medium" href="{{website}}" target="_blank" rel="noopener">Website</a>
            {{/if}}
            {{#if @site.twitter}}
            <a class="text-black dark:text-white font-medium" href="{{social_url type=" twitter"}}" target="_blank" rel="noopener">Twitter</a>
            {{/if}}
            {{#if @site.facebook}}
            <a class="text-black dark:text-white font-medium" href="{{social_url type=" facebook"}}" target="_blank" rel="noopener">Facebook</a>
            {{/if}}
        </div>

    </section>
{{/author}}

<section class="my-12 px-6">
    <div class="max-w-8xl mx-auto">
        <h2 class="mb-4 font-medium uppercase text-xs dark:text-neutral-400">{{#get "posts" limit="all"}}{{posts.length}}{{/get}} Beiträge</h2>
        <div class="@container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</div>
