<!DOCTYPE html>
<html lang="{{@site.locale}}" class="{{body_class}}">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{asset "built/main.css"}}">
    <script type="module" src="{{asset "built/app.js"}}"></script>

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.css">

    {{ghost_head}}

</head>

<body class="{{body_class}}">

    {{#is 'home, page, author'}}
        <div class="h-[50vh] opacity-30 absolute top-0 left-0 right-0 -z-1 mask-cover mask-no-repeat [mask-image:linear-gradient(to_top,transparent_0%,rgba(0,0,0,0.25)_40%,rgba(0,0,0,0.75)_70%,black_100%)]">
            {{#if @site.cover_image}}
                <img class="w-full h-full object-cover" src="{{@site.cover_image}}" alt="{{@site.title}} Cover">
                {{> picture src=@site.cover_image alt=@site.title sizes="(min-width: 1536px) 1536px, (min-width: 1280px) 1280px, (min-width: 1024px) 1024px, 100vw" loading="eager" }}
            {{else}}
                <img class="md:hidden w-full h-full object-cover" src="{{asset "images/hero-poster.jpg"}}" alt="Hero">
                <video class="hidden md:block w-full h-full object-cover" poster="{{asset "images/hero-poster.jpg"}}" autoplay muted loop playsinline>
                    <source src="{{asset "video/hero-video.mp4"}}" type="video/mp4">
                </video>
            {{/if}}
        </div>
    {{/is}}

    <header class="p-6">

        <div class="max-w-8xl mx-auto flex items-center justify-between">

            <div class="flex items-center gap-10">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{> picture src=@site.logo alt=@site.title sizes="200px" loading="eager" }}
                    {{else}}
                        <div class="text-2xl text-black font-bold dark:text-white">{{@site.title}}</div>
                    {{/if}}
                </a>
            </div>

            <div id="mobile-nav" class="bg-white w-full sm:w-80 fixed top-0 right-0 bottom-0 z-1000 shadow-2xl dark:bg-neutral-800">

                <div class="min-h-full flex flex-col justify-between p-8">

                    <div class="flex flex-col gap-8">
                        <div class="flex items-center justify-between gap-4">
                            <div class="text-2xl text-black font-bold dark:text-white">{{@site.title}}</div>
                            <button tpe="button" class="cursor-pointer fill-black dark:fill-white" id="close-mobile-nav">
                                <svg class="w-6 h-auto" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512"
                                    height="512">
                                    <path
                                        d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z" />
                                </svg>
                            </button>
                        </div>
                        {{navigation}}
                    </div>

                    <div>
                        {{#if @site.members_enabled}}
                            {{^if @member}}
                                <a class="font-semibold" href="{{@site.signup_url}}">Anmelden</a>
                            {{else}}
                                <a class="gh-button" href="#/portal/account">Account</a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="flex gap-5 items-center">

                {{search}}

                <button
                    id="themeCycleBtn"
                    class="size-8 relative rounded-lg hover:bg-neutral-200 dark:hover:bg-neutral-700 transition-all duration-300 group"
                    aria-label="Theme wechseln"
                >
                    <svg id="iconLight" class="w-6 h-6 absolute inset-0 m-auto transition-all duration-300 opacity-0 scale-0"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <svg id="iconDark" class="w-6 h-6 absolute inset-0 m-auto transition-all duration-300 opacity-0 scale-0" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                    <svg id="iconSystem" class="w-6 h-6 absolute inset-0 m-auto transition-all duration-300 opacity-0 scale-0"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <span
                        class="absolute top-full left-1/2 -translate-x-1/2 mt-2 px-2 py-1 text-xs font-medium text-white bg-neutral-900 dark:bg-neutral-700 rounded opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap pointer-events-none">
                        <span id="tooltipText">System</span>
                    </span>
                </button>

                <button id="menu-toggle" class="cursor-pointer text-neutral-700 dark:text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>

            </div>

        </div>

    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="bg-neutral-50 dark:bg-neutral-800 px-6">

        <div class="mx-auto max-w-8xl py-12">

            <div class="xl:grid xl:grid-cols-12 xl:gap-8">

                <div class="space-y-4 xl:col-span-4">
                    {{#if @site.logo}}
                        <img class="h-10" src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{> picture}}
                    {{else}}
                        <h2 class="text-2xl text-black font-bold dark:text-white">{{@site.title}}</h2>
                    {{/if}}
                    <p class="text-sm/6 text-balance text-neutral-600 dark:text-neutral-400">
                        {{@site.description}}
                    </p>
                </div>

                <div class="mt-6 space-y-6 md:mt-0 md:grid md:grid-cols-3 md:gap-8 xl:col-span-8">

                    <div>
                        <h3 class="font-semibold text-neutral-900 dark:text-white">Kategorien</h3>
                        <ul class="mt-2 space-y-1">
                            {{#get "tags" limit="15"}}
                                {{#foreach tags}}
                                    <li>
                                        <a href="{{url}}" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">
                                            {{name}}
                                        </a>
                                    </li>
                                {{/foreach}}
                            {{/get}}
                        </ul>
                    </div>

                    <div>
                        <h3 class="font-semibold text-neutral-900 dark:text-white">Account</h3>
                        <ul class="mt-2 space-y-1">
                            {{#unless @member}}
                                <li><a href="{{@site.signin_url}}" data-portal="signin" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Anmelden</a></li>
                                <li><a href="{{@site.signup_url}}" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Registrieren</a></li>
                            {{else}}
                                <li><a href="{{@site.account_url}}" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Account</a></li>
                                <li><a href="#" data-portal="signout" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Abmelden</a></li>
                            {{/unless}}
                        </ul>
                    </div>

                    <div>
                        <h3 class="font-semibold text-neutral-900 dark:text-white">Links</h3>
                        <ul class="mt-2 space-y-1">
                            <li><a href="/datenschutz" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Datenschutz</a></li>
                            <li><a href="/impressum" class="text-neutral-700 text-sm hover:text-black dark:text-neutral-400 dark:hover:text-white">Impressum</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </footer>

    <div class="bg-neutral-100 p-6 text-sm dark:bg-neutral-900/70">
        <div class="mx-auto max-w-8xl">
            <div class="flex flex-col md:flex-row items-center justify-between gap-3">
                <div class="dark:text-neutral-400">
                    &copy; {{date format="YYYY"}} {{@site.title}}, Inc. All rights reserved.
                </div>
                <div class="flex items-center space-x-4">
                    <a href="/" class="text-neutral-700 hover:text-black dark:text-neutral-400">Cookie-Einstellungen</a>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" class="absolute inset-0 bg-black/40 z-900 backdrop-blur-[2px]"></div>

    {{#is "post"}}
        <script>
            const progressBar = document.querySelector('.reading-progress');
            function updateProgress() {
                const totalHeight = document.body.clientHeight;
                const windowHeight = document.documentElement.clientHeight;
                const position = window.scrollY;
                const progress = position / (totalHeight - windowHeight) * 100;
                progressBar.setAttribute('value', progress);
                requestAnimationFrame(updateProgress);
            }
            requestAnimationFrame(updateProgress);
        </script>
    {{/is}}

    <script src="{{asset "js/tocbot.js"}}"></script>

    <script>
        tocbot.init({
            tocSelector: '.toc',
            contentSelector: '.gh-content',
            headingSelector: 'h1, h2, h3, h4',
            hasInnerContainers: true,
        });
    </script>

    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileNav = document.getElementById('mobile-nav');
        const closeMobileNav = document.getElementById('close-mobile-nav');
        const overlay = document.getElementById('overlay');

        menuToggle.addEventListener('click', () => {
            mobileNav.classList.toggle('open');
            overlay.classList.toggle('open');
        });

        closeMobileNav.addEventListener('click', () => {
            mobileNav.classList.remove('open');
            overlay.classList.remove('open');
        });

        // Schließen bei Klick außerhalb
        document.addEventListener('click', (e) => {
            if (!mobileNav.contains(e.target) && !menuToggle.contains(e.target)) {
                mobileNav.classList.remove('open');
                overlay.classList.remove('open');
            }
        });
    </script>

    {{ghost_foot}}

</body>

</html>